@model IEnumerable<it_project.Models.Product>

@{
    ViewBag.Title = "Products";
}
<style>
     .btn-new{
        color:white;
        background-color:lightslategray;
    }

    .btn-new:hover {
        color: white;
        background-color: lightslategray;
    }
   
    .btn-create {
        background-color: #008080;
        color: white;
    }
    .btn-create:hover {
        background-color: rgb(1,121,111);
        color: white;
    }
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
        }

        .hovereffect h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0,0,0,0.6);
            /*-webkit-transform: translatey(-100px);
            -ms-transform: translatey(-100px);
            transform: translatey(-100px);*/
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 10px;
        }

        .hovereffect a.info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin: 50px 0 0;
            padding: 7px 14px;
        }

            .hovereffect a.info:hover {
                box-shadow: 0 0 5px #fff;
            }

        .hovereffect:hover img {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            filter: alpha(opacity=40);
        }

        .hovereffect:hover h2, .hovereffect:hover a.info {
            opacity: 1;
            filter: alpha(opacity=40); /*
            -ms-transform: translatey(0);
            -webkit-transform: translatey(0);
            transform: translatey(0);*/
        }

        .hovereffect:hover a.info {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }


</style>
<h2 style="padding-bottom:10px; font-weight:bolder">Products</h2>
@if (User.IsInRole("Administrator"))
{
    <p style="padding-bottom:10px">
        @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-create" })
    </p>
}
    <table class="table" id="productsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @if (User.IsInRole("VIP Client"))
                        {
                        <img src="@item.ImageURL" style="max-width: 300px" />
                        }
                        @if (!User.IsInRole("VIP Client"))
                        {
                            <div class="hovereffect">
                                <img src="@item.ImageURL" class="img-responsive" style="max-width: 300px" />
                                <div class="overlay">
                                    <h2>Become a VIP Client for more!</h2>
                                </div>
                            </div>
                        }

                        
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-new" })
                        @if (User.IsInRole("Editor"))
                        { 
                            <span>&nbsp;</span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-new" })
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <span>&nbsp;</span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-new" })
                            <span>&nbsp;</span>
                            <button data-product-id="@item.ID" class="btn btn-danger js-delete">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section scripts{
        <script>
            $(function () {
                var table = $(".table").DataTable();
                $(".js-delete").on("click", function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this product?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Products/Delete/" + button.attr("data-product-id"),
                                method: "GET",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    })
                });
            });
        </script>
    }